h1 {
  font-size: 70px;
  text-align: center;
}

body {
  background-color: white;
}

.search {
  align-content: center;
}

button {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 11), 0 1px 3px rgba(0, 0, 0, 8);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #6772e5;
  text-decoration: none;
  transition: all 15s ease;
}

button:active {
  color: #555abf;
  background-color: #f6f9fc;
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 11), 0 1px 3px rgba(0, 0, 0, 8);
}

button:hover {
  color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 1), 0 3px 6px rgba(0, 0, 0, 8);
}

input {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d4dada;
  border-radius: 3px;
  box-shadow: none;
  vertical-align: bottom;
}
